#shadow {
	width:100%;
	float:left;
	background:url('../images/philosophy.jpg') no-repeat center top;
	position:relative;
	top:12px;
}
#page {
	width:870px;
	margin:auto;
}
#header {
	height:582px;
	width:870px;
	position:relative;
}
#header h1 {
	float:left;
	font-size:72px;
	color:#000;
	text-transform:uppercase;
	font-weight:normal;
	font-family:"黑体", "微软雅黑", "宋体";
	line-height:55px;
	margin:70px 0px 0px 0px;
	padding:0;
	letter-spacing:-2px;
	text-indent:-999em;
}
#header h1 span {
	color:#ff3000;
	display:block;
}
#content {
	margin:auto;
	width:840px;
	position:relative;
	top:0px;
	padding:0px 70px;
	background:url(../images/content_bg.png) left top repeat;
}
#content h3 {
	font-size:30px;
	color:#fff;
	text-transform:uppercase;
	font-weight:normal;
	font-family:"黑体", "微软雅黑", "宋体";
	margin:0px;
	padding:0px;
	line-height:150%;
}
#content p {
	line-height:20px;
}
#content td img {
	margin-bottom:14px;
}
#strip #menu li.about-us a {
	background: url('../images/menu_bg_hover2.png') no-repeat top center;
	color:#fff;
}
#strip #menu li.about-us ul li a {
	background:none;
}
#strip #menu li.about-us ul li.philosophy a {
	background: url('../images/menu_sub_bg_hover.png') no-repeat;
	color:#fff;
}
